:root {
    --max-w: 1600px;
    --bg: #000000;
    --font-body: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    --font-heading: 'Saira Condensed', system-ui, sans-serif;
}

body {
    font-family: var(--font-body);
    color: #e7e7e7;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
a {
    font-family: var(--font-heading);
}

button {
    font-family: var(--font-heading) !important;
}

text {
    font-family: var(--font-saira);
    letter-spacing: 6px;
    font-variant-ligatures: none;
    animation: rotate 25s linear infinite;
    transform-origin: center center;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.angleRotate {
    animation: rotate 3s linear infinite;
    transform-origin: center center;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* hide hero text until JS runs */
.hero-preloader {
    opacity: 0;
    pointer-events: none;
}

/* ensure hr scales from left and looks clean */
hr.mb-16 {
    transform-origin: center center;
    width: 100%;
    height: 2px;
    /* adjust thickness */
    background: currentColor;
    /* inherits color */
}

/* make sure images can animate inside container */
.relative img {
    transform-origin: center center;
    will-change: transform, opacity;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}