:root {
    --max-w: 1600px;
    --bg: #000000;
    --font-body: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    --font-heading: 'Saira Condensed', system-ui, sans-serif;
}

body {
    font-family: var(--font-body);
    color: #e7e7e7;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
a {
    font-family: var(--font-heading);
}

button {
    font-family: var(--font-heading) !important;
}

text {
    font-family: var(--font-saira);
    letter-spacing: 6px;
    font-variant-ligatures: none;
    animation: rotate 25s linear infinite;
    transform-origin: center center;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.angleRotate {
    animation: rotate 3s linear infinite;
    transform-origin: center center;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* hide hero text until JS runs */
.hero-preloader {
    opacity: 0;
    pointer-events: none;
}



/* make sure images can animate inside container */
.relative img {
    transform-origin: center center;
    will-change: transform, opacity;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ======================
   TEXT REVEAL BASE
   ====================== */
.text-reveal {
    position: relative;
}

/* target any text inside */
.text-reveal h1,
.text-reveal h2,
.text-reveal h3,
.text-reveal h4,
.text-reveal h5,
.text-reveal h6,
.text-reveal p,
.text-reveal span {
    color: rgb(126 126 126 / 0.1);
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(90deg, #ffffff 0%, #ffffff 100%);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    background-position: left center;
    will-change: background-size;
    position: relative;
}

.text-reveal h2::before {
    content: attr(data-text);
    position: absolute;
    inset: 0;
    color: rgba(0, 0, 0, 0.35);
    z-index: -1;
    pointer-events: none;
    white-space: pre-line;
}

/* ========== Portfolio ============= */